autopep8==2.0.4
pycorrelate==0.3
cx-Oracle==8.3.0
notebook==7.0.8
matplotlib==3.8.2
numpy==1.26.4
pandas==1.5.3
requests==2.31.0
scikit-learn==1.4.0
scikit-learn-extra==0.3.0
scipy==1.12.0
SQLAlchemy==2.0.27
yellowbrick==1.5
