cx-Oracle==8.3.0
notebook==7.0.0
ipykernel==6.24.0
matplotlib==3.7.2
numpy==1.25.1
pandas==1.5.3
requests==2.31.0
scikit-learn==1.3.0
scikit-learn-extra==0.3.0
scipy==1.11.1
SQLAlchemy==2.0.19
yellowbrick==1.5
