name: "build"

on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'adopt'
          java-version: '14'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Run
        run: |
          cd intentional
          cp resources/submission-IS/students.csv resources/intention
          chmod +x *.sh
          bash init.sh
          bash build.sh
          bash download.sh
          bash start.sh
          bash stop.sh
      - name: Run the notebooks
        run: |
          cd intentional/src/main/python
          pip install -r requirements.txt
          pip install jupyter
          for f in *.ipynb;
            do echo "Processing $f file...";
            jupyter nbconvert --execute --to notebook --inplace $f
          done

  release:
    needs:
      - build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Install Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: package.json
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'adopt'
          java-version: '14'
      - name: Deploy
        run: |
          cd intentional
          ./gradlew shadowJar
          cd ..
          mkdir -p dist/
          cp intentional/build/libs/* dist/
      - name: Release
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
